.DS_Store
.idea
__pycache__
venv
/irobot_sdk/backend/
/irobot_sdk/__init__.py
/irobot_sdk/color.py
/irobot_sdk/completer.py
/irobot_sdk/create3.py
/irobot_sdk/event.py
/irobot_sdk/getter_types.py
/irobot_sdk/iRobot.py
/irobot_sdk/music.py
/irobot_sdk/packet.py
/irobot_sdk/robot.py
/irobot_sdk/robots.py
/irobot_sdk/root.py
/irobot_sdk/sensor_zones.py
/irobot_sdk/SensorState.py
/irobot_sdk/utils.py
